In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import plotly.express as px
import altair as alt

sns.set()
%matplotlib inline

In [65]:
df = pd.read_csv("supermarket.csv")

In [66]:
df.head()

   store_id  store_area  items_available  daily_customer_count  store_sales
0         1        1659             1961                   530        66490
1         2        1461             1752                   210        39820
2         3        1340             1609                   720        54010
3         4        1451             1748                   620        53730
4         5        1770             2111                   450        46620

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store_id              896 non-null    int64
 1   store_area            896 non-null    int64
 2   items_available       896 non-null    int64
 3   daily_customer_count  896 non-null    int64
 4   store_sales           896 non-null    int64
dtypes: int64(5)
memory usage: 35.1 KB

In [68]:
df.groupby(by='store_area')['items_available'].sum()

store_area
775      932
780      951
854     1018
869     1050
891     1073
        ...
2063    2493
2067    2492
2169    2617
2214    2647
2229    2667
Name: items_available, Length: 583, dtype: int64

In [78]:
pd.DataFrame(data=df.groupby(by='store_id')[['store_id','items_available']].sum()).sort_values(by='items_available', ascending=True).head(5)

          store_id  items_available
store_id
159            159              932
866            866              951
745            745             1018
550            550             1050
407            407             1059

<h3 style="color:red">Stores with Low Inventory</h3>

In [90]:
round(np.mean(df['daily_customer_count']))

786